<p>どうやってランチを選ぶ？</p>

<div class="btn-group">
  <button type="button" class="btn btn-success dropdown-toggle" data-toggle="dropdown">食べられるお店を見る <span class="caret"></span>
  </button>
  <ul class="dropdown-menu" role="location">
    <% @locations.each do |loc| %>
    <li><%= loc %></li>
    <% end %>
  </ul>
</div>
<%= link_to "性格重視", {:controller => "characters", :action => "index" },:class => "btn btn-info choice", :name => "character" %>
<%= link_to "顔重視", "#", :class => "btn btn-info choice", :name => "visual" %>
<%= link_to "経済力重視", "#", :class => "btn btn-info choice", :name => "money" %>
<%= link_to "評判重視", {:controller => "reputations", :action => "index" }, :class => "btn btn-info spinner choice", :name => "reputation" %>

<script>
$(function(){
  var hrefReset = function(){
    $("a.choice[name='character']").attr("href","/characters");
    $("a.choice[name='reputation']").attr("href","/reputations");
  };

  $(".selected").removeClass("selected");
  $("ul[role='location'] li:first").addClass("selected");

  $("ul[role='location'] li").click(function(){
    $("li.selected").removeClass("selected");
    $(this).addClass("selected");
    $(this).parents(".btn-group").find('.btn').html(
      $(this).text()+" <span class=\"caret\"></span>"
    );
  });

  $("a.choice").click(function(){
    hrefReset();
    var originalHref = $(this).attr("href");
    $(this).attr("href", originalHref + "?location=" + $("li.selected").text());
  });
});
</script>
