<!DOCTYPE html>
<html lang="en">
<!-- This is application template -->
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= content_for?(:title) ? yield(:title) : "Aimai Lunch" %></title>
  <%= csrf_meta_tags %>
  <%= stylesheet_link_tag "application", :media => "all" %>
  <%= favicon_link_tag 'favicon.ico', :rel => 'shortcut icon' %>
  <%= javascript_include_tag "application" %>
</head>

<body>
  <!--<img src="/images/bg03.png" class="bg-img"></img>-->
  <div class="main-content">
    <%= bootstrap_flash %>
    <%= yield %>
  </div>
  <div class="btn-home" title="Topへ戻る"></div>

  <script type="text/javascript">
  $('.btn-home').click(function() {
    $('head').append('<meta http-equiv="refresh" content="0; URL=/">');
  });
  </script>

</body>

</body>
</html>
